---
const today = new Date();
---

<footer class="flex flex-row justify-between text-s my-16">
	&copy; {today.getFullYear()} Daniel Tan.
	<div class="social-links">
		<a href="https://m.webtoo.ls/@astro" target="_blank"> Github </a>
		<a href="https://m.webtoo.ls/@astro" target="_blank"> Github </a>
	</div>
</footer>
